// Global
* {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
}

// Layout transition
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

// Page transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}